@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
  --primary: rgb(162, 63, 219);
  --secondary: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1d1d1d;
  position: relative;
  background-color: rgb(48, 44, 44);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  padding: 3rem 1rem;
}

.header {
  border-bottom: 2px solid var(--primary);
  background-color: rgb(37, 35, 35);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-btn {
  font-family: inherit;
  color: var(--primary);
  font-size: 2rem;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
}

.add-btn:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

h1 {
  font-size: 3rem;
  color: var(--primary);
}

.main__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flash-card {
  width: 30rem;
  height: 20rem;
  border: 1px solid var(--primary);
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.flash-card_translated {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.flash-card_translated.visible {
  visibility: visible;
}

.card__title {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 3rem;
}

.card__text {
  font-size: 2rem;
  color: var(--secondary);
}

.delete-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
}

.delete-btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.add-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 100%;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: var(--secondary);
  cursor: pointer;
}

.hidden {
  display: none;
}

form {
  background-color: var(--secondary);
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
}

.input-item {
  margin-bottom: 2rem;
}

.input-item label {
  display: block;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.input-item input {
  font-size: 2rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
